body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eef2f7;
    color: #333;
}

#app {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    color: #555;
}

h2 {
    border-bottom: 3px solid #e5e5e5;
    padding-bottom: 15px;
    margin: 20px 0;
}

button {
    padding: 8px 16px;
    margin: 10px 0;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 6px;
    transition: background-color 0.2s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.placeholder_div, .study-plan {
    margin: 20px 0;
}

.course-list, .study-plan {
    list-style-type: none;
    padding: 0;
}

.course-item, .year, .term {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #d6dce2;
    border-radius: 8px;
    transition: box-shadow 0.2s, transform 0.2s;
}

.course-item:hover, .year:hover, .term:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transform: translateY(-2px);
}

.course-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.course-code, .course-name {
    font-weight: bold;
    margin-right: 10px;
    margin: 0; 
}

.year {
    margin-bottom: 30px;
}

.term h4 {
    margin-top: 10px;
    font-weight: bold;
}

.course-result-container {
    margin-top: 20px;
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
}

.course-details {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}
.download-pdf-btn {
    padding: 5px 15px;
    margin: 10px 0;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s;
    font-size: 16px;
    font-weight: 500;
}

.download-pdf-btn:hover {
    background-color: #0056b3;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
    display: flex;           
    justify-content: center; 
    align-items: center; 
}

.delete-btn:hover {
    background-color: darkred;
}

.course-item {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%; 
}