<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="/javascripts/main.js" defer></script>
        <script src="/javascripts/del_things.js"></script>
        <meta charset="UTF-8">
        <title>Delete Course</title>
    </head>
    <body>
        <div id="mainDiv">
            <form>
                <div class="center content">
                    <div id="streamSelection">
                        <label for="stream_id">Course stream: </label>
                        <select name="stream" id="stream_id" v-model="sid" @change="formStreamChange()">
                            <option :value="-1"> </option>
                            <option v-for="stream in stream" :value="stream.stream_id"> {{ stream.stream_name }}</option>
                        </select><br><br>
                    </div>

                    <div id="courseSelection">
                        <template v-if="sid !== -1">
                            <label for="course_code">Course code and name: </label>
                            <select name="course_id" id="course_id">
                                <option v-for="courses in courseCode" :value="courses.course_id">{{ courses.course_code }} {{ courses.course_name }}</option>
                            </select>
                        </template>
                    </div>

                    <button type="button" onclick="deleteCourse()">DELETE course</button> 
                </div>
            </form>
        </div>
    </body>
</html>